button {
    border: 1px solid gray;
    width: 50px;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 5px;
}

body {
    background-image: url("mat.png");
    background-repeat: repeat-x;
}

#result {
    display: block;
    border: 1px solid gray;
    width: 400px;
    height: 60px;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
    background: ghostwhite;
}

#result:hover {

    cursor: text;

}

#bt_delete {
    background: gainsboro;
}

#bt_reset {
    background: indianred;
}

.bt_opera {
    background: gray;
}

.bt_answer
{
    background: indianred;
}

h1 {
    font-family: Georgia;
    color: red;
}
#container {
    margin-left: 500px;
    margin-top: 50px;
}

.bt_number {
    background: lightblue;
}
.bt_trigonometry {
    background: ivory;
}